


back/**/.idea/
back/**/*.iml
back/**/.vscode/
back/**/.settings/
back/**/.classpath
back/**/.project

back/**/*.log
back/**/logs/

HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


.DS_Store
Thumbs.db


front/**/node_modules/
front/**/package-lock.json
front/**/yarn.lock
front/**/pnpm-lock.yaml

front/**/dist/
front/**/build/
front/**/.next/
front/**/out/

front/**/.vscode/
front/**/.idea/

front/**/npm-debug.log*
front/**/yarn-debug.log*
front/**/yarn-error.log*

front/**/.cache/
front/**/.parcel-cache/
front/**/.turbo/


**/*.key
**/*.pem
**/*.p12
**/secrets.yml
**/application-prod.properties

**/*.tmp
**/*.temp
**/*.swp
**/*~
